# Arcanist cache
/arcanist/.phutil_module_cache

# Internal Facebook build puts generate files in directories like:
/_build-5.6*

# Ignores for files resulting from building in place:
*-t
*.a
*.so
*.so.*
*.swp
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Docs/INFO_BIN
Docs/INFO_SRC
Makefile
TAGS
VERSION.dep
cmake_install.cmake
client/mysql
client/mysql_config_editor
client/mysql_plugin
client/mysql_upgrade
client/mysqladmin
client/mysqlbinlog
client/mysqlcheck
client/mysqldump
client/mysqlimport
client/mysqlshow
client/mysqlslap
client/mysqltest
extra/comp_err
extra/innochecksum
extra/my_print_defaults
extra/mysql_waitpid
extra/perror
extra/replace
extra/resolve_stack_dump
extra/resolveip
include/config.h
include/my_config.h
include/mysql_version.h
include/mysqld_ername.h
include/mysqld_error.h
include/sql_state.h
info_macros.cmake
libmysql/libmysql.ver
libmysql/merge_archives_webscalesqlclient.cmake
libmysql/webscalesqlclient_depends.c
libmysql*/merge_archives_mysql*.cmake
libmysql*/mysql*_depends.c
libmysql*/libmysql*_exports_file.cc
libmysqld/examples/mysql_client_test_embedded
libmysqld/examples/mysql_embedded
libmysqld/examples/mysqltest_embedded
make_dist.cmake
mysql-test/mtr
mysql-test/mysql-test-run
mysql-test/lib/My/SafeProcess/my_safe_process
mysql-test/var/
mysys/thr_lock
mysys/queues
packaging/rpm-oel/mysql.spec
packaging/rpm-fedora/mysql.spec
packaging/rpm-uln/mysql.*.spec
regex/re
scripts/comp_sql
scripts/make_binary_distribution
scripts/msql2mysql
scripts/mysql_config
scripts/mysql_config.pl
scripts/mysql_convert_table_format
scripts/mysql_find_rows
scripts/mysql_fix_extensions
scripts/mysql_fix_privilege_tables.sql
scripts/mysql_fix_privilege_tables_sql.c
scripts/mysql_install_db
scripts/mysql_secure_installation
scripts/mysql_setpermission
scripts/mysql_zap
scripts/mysqlaccess
scripts/mysqlbug
scripts/mysqld_multi
scripts/mysqld_safe
scripts/mysqldumpslow
scripts/mysqlhotcopy
scripts/mytop
sql-bench/bench-count-distinct
sql-bench/bench-init.pl
sql-bench/compare-results
sql-bench/copy-db
sql-bench/crash-me
sql-bench/graph-compare-results
sql-bench/innotest1
sql-bench/innotest1a
sql-bench/innotest1b
sql-bench/innotest2
sql-bench/innotest2a
sql-bench/innotest2b
sql-bench/run-all-tests
sql-bench/server-cfg
sql-bench/test-ATIS
sql-bench/test-alter-table
sql-bench/test-big-tables
sql-bench/test-connect
sql-bench/test-create
sql-bench/test-insert
sql-bench/test-select
sql-bench/test-table-elimination
sql-bench/test-transactions
sql-bench/test-wisconsin
sql/mysqld
sql/share/*/errmsg.sys
sql/sql_builtin.cc
sql/sql_yacc.cc
sql/sql_yacc.h
sql/gen_lex_hash
sql/lex_hash.h
sql/mysql_tzinfo_to_sql
storage/heap/hp_test1
storage/heap/hp_test2
storage/myisam/myisam_ftdump
storage/myisam/myisamchk
storage/myisam/myisamlog
storage/myisam/myisampack
storage/perfschema/gen_pfs_lex_token
storage/rocksdb/unittest/test_rowlocks
storage/rocksdb/unittest/test_rwlocks
support-files/MySQL-shared-compat.spec
support-files/binary-configure
support-files/my-default.cnf
support-files/mysql.server
support-files/mysql.spec
support-files/mysqld_multi.server
support-files/mysql-log-rotate
support-files/plugins.files
tests/bug25714
tests/mysql_client_test
