[mysqld.1]
loose-rpl_raft_log_dir=@mysqld.1.tmpdir
loose-rpl_raft_wal_dir=@mysqld.1.tmpdir

[mysqld.2]
loose-rpl_raft_log_dir=@mysqld.2.tmpdir
loose-rpl_raft_wal_dir=@mysqld.2.tmpdir

[mysqld.3]
loose-rpl_raft_log_dir=@mysqld.3.tmpdir
loose-rpl_raft_wal_dir=@mysqld.3.tmpdir

[mysqld.4]
loose-rpl_raft_log_dir=@mysqld.4.tmpdir
loose-rpl_raft_wal_dir=@mysqld.4.tmpdir

[mysqld.5]
loose-rpl_raft_log_dir=@mysqld.5.tmpdir
loose-rpl_raft_wal_dir=@mysqld.5.tmpdir
