!include include/default_mysqld.cnf
!include include/default_client.cnf

[mysqld.1]
#!run-master-sh
plugin-load=mysql_privacy_plugin.so

[mysqld.2]
#!run-master-sh
plugin-load=mysql_privacy_plugin.so


[ENV]
MASTER_MYPORT=@mysqld.1.port
MASTER_MYSOCK=@mysqld.1.socket

SERVER_MYPORT_2=@mysqld.2.port
SERVER_MYSOCK_2=@mysqld.2.socket
