!include suite/rocksdb_rpl/my.cnf

[mysqld.1]
log_slave_updates
gtid_mode=ON
enforce_gtid_consistency=ON
enable_binlog_hlc=ON
rocksdb_binlog_ttl=ON
rocksdb_binlog_ttl_compaction_ts_interval_secs=2
rocksdb_binlog_ttl_compaction_ts_offset_secs=0
slave_parallel_workers=4
slave_parallel_type=DEPENDENCY
slave_use_idempotent_for_recovery=YES
slave_tx_isolation=READ-COMMITTED
rocksdb_lock_wait_timeout=100

[mysqld.2]
log_slave_updates
gtid_mode=ON
enforce_gtid_consistency=ON
enable_binlog_hlc=ON
rocksdb_binlog_ttl=ON
rocksdb_binlog_ttl_compaction_ts_interval_secs=2
rocksdb_binlog_ttl_compaction_ts_offset_secs=0
slave_parallel_workers=4
slave_parallel_type=DEPENDENCY
slave_use_idempotent_for_recovery=YES
slave_tx_isolation=READ-COMMITTED
rocksdb_lock_wait_timeout=100
