!include suite/rpl/my.cnf

[mysqld.1]
log_slave_updates
gtid_mode=ON
enforce_gtid_consistency=ON
rocksdb_enable_2pc=OFF
rocksdb_wal_recovery_mode=2

[mysqld.2]
relay_log_recovery=1
relay_log_info_repository=FILE
log_slave_updates
gtid_mode=ON
enforce_gtid_consistency=ON
rocksdb_enable_2pc=OFF
rocksdb_wal_recovery_mode=2
slave_use_idempotent_for_recovery=Yes
master_info_repository=FILE
skip_flush_master_info=ON
skip_flush_relay_worker_info=ON
sync_master_info=10000
sync_relay_log_info=10000
