!include include/default_mysqld.cnf
!include include/default_client.cnf

[mysqld.1]
# Run the <testname>-master.sh script before starting this process
#!run-master-sh
log-bin=binary-logs-13000
relay-log=mysqld-relay-bin-13000
plugin-load=rpl_raft=mysql_raft_repl.so
gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=1
binlog_checksum=CRC32
read_only=1
# Values reported by slave when it connect to master
# and shows up in SHOW SLAVE STATUS;
report-host=::1
report-port=@mysqld.1.port
report-user=root
binlog_error_action= ROLLBACK_TRX
replicate_same_server_id=1
rpl_raft_on=1
enable_raft_plugin=1
enable_binlog_hlc=1
rpl_wait_for_semi_sync_ack=1
# To bypass some strict raft config checks only for MTR
override_enable_raft_check=1
disallow_raft=0
rpl_raft_skip_setup_replica_if_unnecessary=0
relay_log_info_repository=FILE
rpl_raft_authenticate_via_CN=0
rpl_raft_skip_verify_tls_cert=1

[mysqld.2]
# Run the <testname>-slave.sh script before starting this process
#!run-slave-sh
# Append <testname>-slave.opt file to the list of argument used when
# starting the mysqld
#!use-slave-opt
log-bin=binary-logs-13001
relay-log=mysqld-relay-bin-13001
plugin-load=rpl_raft=mysql_raft_repl.so
gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=1
binlog_checksum=CRC32
read_only=1
master_retry_count=10
# Values reported by slave when it connect to master
# and shows up in SHOW SLAVE STATUS;
report-host=::1
report-port=@mysqld.2.port
report-user=root
binlog_error_action= ROLLBACK_TRX
replicate_same_server_id=1
rpl_raft_on=1
enable_raft_plugin=1
enable_binlog_hlc=1
rpl_wait_for_semi_sync_ack=1
# To bypass some strict raft config checks only for MTR
override_enable_raft_check=1
disallow_raft=0
rpl_raft_skip_setup_replica_if_unnecessary=0
relay_log_info_repository=FILE
rpl_raft_authenticate_via_CN=0
rpl_raft_skip_verify_tls_cert=1

[mysqld.3]
# Run the <testname>-slave.sh script before starting this process
#!run-slave-sh
# Append <testname>-slave.opt file to the list of argument used when
# starting the mysqld
#!use-slave-opt
log-bin=binary-logs-13002
relay-log=mysqld-relay-bin-13002
plugin-load=rpl_raft=mysql_raft_repl.so
gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=1
binlog_checksum=CRC32
read_only=1
master_retry_count=10
# Values reported by slave when it connect to master
# and shows up in SHOW SLAVE STATUS;
report-host=::1
report-port=@mysqld.3.port
report-user=root
binlog_error_action= ROLLBACK_TRX
replicate_same_server_id=1
rpl_raft_on=1
enable_raft_plugin=1
enable_binlog_hlc=1
rpl_wait_for_semi_sync_ack=1
# To bypass some strict raft config checks only for MTR
override_enable_raft_check=1
disallow_raft=0
rpl_raft_skip_setup_replica_if_unnecessary=0
relay_log_info_repository=FILE
rpl_raft_authenticate_via_CN=0
rpl_raft_skip_verify_tls_cert=1

[mysqld.4]
# Run the <testname>-slave.sh script before starting this process
#!run-slave-sh
# Append <testname>-slave.opt file to the list of argument used when
# starting the mysqld
#!use-slave-opt
log-bin=binary-logs-13003
relay-log=mysqld-relay-bin-13003
plugin-load=rpl_raft=mysql_raft_repl.so
gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=1
binlog_checksum=CRC32
read_only=1
master_retry_count=10
# Values reported by slave when it connect to master
# and shows up in SHOW SLAVE STATUS;
report-host=::1
report-port=@mysqld.4.port
report-user=root
binlog_error_action= ROLLBACK_TRX
replicate_same_server_id=1
rpl_raft_on=1
enable_binlog_hlc=1
rpl_wait_for_semi_sync_ack=1
# To bypass some strict raft config checks only for MTR
override_enable_raft_check=1
disallow_raft=0
rpl_raft_skip_setup_replica_if_unnecessary=0
relay_log_info_repository=FILE
rpl_raft_authenticate_via_CN=0
rpl_raft_skip_verify_tls_cert=1

[mysqld.5]
# Run the <testname>-slave.sh script before starting this process
#!run-slave-sh
# Append <testname>-slave.opt file to the list of argument used when
# starting the mysqld
#!use-slave-opt
log-bin=binary-logs-13004
relay-log=mysqld-relay-bin-13004
plugin-load=rpl_raft=mysql_raft_repl.so
gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=1
binlog_checksum=CRC32
read_only=1
master_retry_count=10
# Values reported by slave when it connect to master
# and shows up in SHOW SLAVE STATUS;
report-host=::1
report-port=@mysqld.5.port
report-user=root
binlog_error_action= ROLLBACK_TRX
replicate_same_server_id=1
rpl_raft_on=1
enable_binlog_hlc=1
rpl_wait_for_semi_sync_ack=1
# To bypass some strict raft config checks only for MTR
override_enable_raft_check=1
disallow_raft=0
rpl_raft_skip_setup_replica_if_unnecessary=0
relay_log_info_repository=FILE

[ENV]
MASTER_MYPORT=@mysqld.1.port
MASTER_MYSOCK=@mysqld.1.socket

SLAVE_MYPORT=@mysqld.2.port
SLAVE_MYSOCK=@mysqld.2.socket

SERVER_MYPORT_3=@mysqld.3.port
SERVER_MYSOCK_3=@mysqld.3.socket

SERVER_MYPORT_4=@mysqld.4.port
SERVER_MYSOCK_4=@mysqld.4.socket

SERVER_MYPORT_5=@mysqld.5.port
SERVER_MYSOCK_5=@mysqld.5.socket
