!include include/default_my.cnf

[server]
# Align with 5.6 default character-set latin1
character_set_server=latin1
collation_server=latin1_swedish_ci
# Force re-calculating table status to align with 5.6
information_schema_stats_expiry=0
sql-mode=NO_ENGINE_SUBSTITUTION
explicit-defaults-for-timestamp=1
rocksdb_lock_wait_timeout=1
rocksdb_strict_collation_check=0
rocksdb_force_compute_memtable_stats_cachetime=0
default-storage-engine=rocksdb
